[run]
source = src/run_bitcoin_tests
omit =
    */network_utils.py
    */thread_utils.py

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise AssertionError
    raise NotImplementedError
    if __name__ == .__main__.:
    if TYPE_CHECKING:
    @abstractmethod
